<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>JukeboxJam!</title>
    <link rel="stylesheet" href="landing.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body class="container">
    <h2 class="text-white">Manage Your Playlists</h2>

    <div id='playlist-options'>

    </div>

    <div class="buttonFlex">
        <button class="btn-shake">Add a playlist!</button>
        <button id="createRoom" class="btn btn-success">Create Room</button>
        <button id="joinRoom" class="btn btn-warning">Join Room</button>
        <button class="btn-logout" id="logout">Logout</button>
    </div>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="module" src="../../js/landingScript.js"></script>

</html>