<!DOCTYPE html>
<html>

<head>
    <title>Register For JukeboxJam</title>
    <link rel="stylesheet" type="text/css" href="register.css">
    <script type="module" src="../../js/register.js"></script>
</head>

<h2>Register for <br> JukeboxJam
</h2>

<body>
    <div class="register">
        <form id="register" action="../landingView/landing.html">
            <label><b>User Name     
        </b>    
        </label>
            <input type="text" name="Uname" id="Uname" placeholder="Username" />
            <br><br>
            <br>
            <label><b>Password     
        </b>   
        </label>
            <input type="Password" name="Pass" id="Pass" placeholder="Password">
            <br><br>
            <input type="Password" name="ConfirmPass" id="ConfirmPass" placeholder="Confirm Password">
            <br><br>
            <input type="submit" name="confirm" id="confirm" value="Confirm Registration">
        </form>
    </div>
</body>

</html>