<!DOCTYPE html>
<html>

<head>
    <title>JukeboxJam!</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <!-- <script src="jquery-3.5.1.min.js"></script> -->
    <script type="module" src="../../js/loginScript.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
</head>

<body>
    <h2>Jukebox Jam <br> Login
    </h2><br>
    <div class="login">
        <form id="login" method="post">
            <label><b>User Name     
        </b>    
        </label>
            <input type="text" name="Uname" id="Uname" placeholder="Username">
            <br><br>
            <label><b>Password     
        </b>    
        </label>
            <input type="Password" name="Pass" id="Pass" placeholder="Password">
            <br><br>
            <button name="log" id="log" >Login in Here!</button>
            <br><br>
            <input type="checkbox" id="check">
            <span>Remember me</span>
            <br><br>
            <a href="#">Forgot Password</a>
            <br><br>
            <a href="../registerView/register.html">Register</a>
        </form>
    </div>
</body>



</html>