<!DOCTYPE html>

<html>

    <head>

        <title>Select Your Subscription</title>
        <link rel="stylesheet" href="subscription.css">
        <script type="module" src="../../js/subscriptionScript.js"></script>

    </head>

    <body>

        <div id="main-container">

            <div class="column-container" id="left-container">

                <h3>Basic Plan</h3>

                <p>Limited to 5 Playlists</p>
                <p>Limited to 25 Songs</p>
                <p>Free of Charge ($0.00)</p>

                <button class="subscriptionBtn" id="freeBtn">Basic</button>

            </div>

            <div class="column-container" id="right-container">

                <h3>Premium Plan</h3>

                <p>Unlimited Playlists</p>
                <p>Unlimited Songs</p>
                <p>$9.99 Monthly</p>

                <button class="subscriptionBtn" id="premiumBtn">Premium</button>

            </div>

        </div>

    </body>

</html>